@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    padding: 148px 25px 85px;
    font-family: 'Kumbh Sans', sans-serif;
}

section{
    background-color: white;
    width: 100%;
    padding: 0 24px 48px;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
}

.photo-container{
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
}

.shadow{
    position: relative;
}

.ilustration{
    position: absolute;
    top: -107px;
    width: 237px;
}

.box{
    display: none;
}

main{
    margin-top: 28px;
}

/* general text styles */
h4{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #4B4C5F;
}

p{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #4B4C5F;
    margin-bottom: 16px;
}

hr{
    border: 0;
    height: 1px;
    background-color: #E8E8EA;
    margin-bottom: 19px;
}

/*  */

h1 {
    text-align: center;
    color: #1E1F36;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 40px;
}

.first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
}

.arrow1{
    width: 10px;
    height: 7px;
    align-items: center;
}

.invite{
    display: none;
}

.upload-size{
    display: none;
}

.password{
    display: none;
}

.subscription{
    display: none;
}

.support{
    display: none;
}

.question5 hr{
    margin: 0;
}